	<footer>
		{{ capitalizar nombre }} - {{ getAnio }}
	</footer>

	<script src="assets/js/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
	<script src="assets/js/popper.min.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

</body>
</html>